:root {
  --left-text: #dddddd;
  --header-text: #9a9a9a;
  --board-bg-color: #222831;
  --border-of-tiles: #f05454;
  --border-bottom-of-header: #eee;
  --board-tile-hover-color: #30475e;
  --x-player-active: #00d5ff;
  --o-player-active: #ffa201;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Merriweather", sans-serif;
  color: var(--left-text);
  background: #222831;
}
.name-title {
  font-size: smaller;
}
.name-title {
  max-width: 500px;
}
.wrapper {
  max-width: 1440px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}
.restart {
  width: 200px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid var(--left-text);
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
  font-size: larger;
}
.restart:hover {
  background: var(--left-text);
  color: #222831;
}

.header {
  display: flex;
  color: var(--header-text);
  font-size: 24px;
}

.header > .player-x,
.header > .player-o {
  flex: 1;
  border-bottom: 5px solid var(--border-bottom-of-header);
  padding-bottom: 8px;
}
.player-x.active {
  color: var(--x-player-active);
  border-color: var(--x-player-active);
}

.player-o.active {
  color: var(--o-player-active);
  border-color: var(--o-player-active);
}

.game {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 0px;
  flex-grow: 1;
  padding: 10px;
}

.board-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background: var(--board-bg-color);
  transition: all 0.2s ease;
  cursor: pointer;
}
.board-tile:not(:nth-child(3n)) {
  border-right: 3px solid var(--border-of-tiles);
}

.board-tile:not(:nth-last-child(-n + 3)) {
  border-bottom: 3px solid var(--border-of-tiles);
}

.board-tile:hover {
  background: var(--board-tile-hover-color);
}

.tile-x {
  color: var(--x-player-active);
}

.tile-o {
  color: var(--o-player-active);
}

.tile-winner {
  background-color: rgba(77, 255, 0, 0.097);
}
.tile-winner span {
  color: rgb(153, 255, 0);
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 45px;
  }

  .restart {
    font-size: smaller;
    width: 150px;
    height: 40px;
  }
}
